:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;

    font-family: 'Spartan', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    background-color: var(--body-bg-color);
}


.logo{
    width: 389px;    
    padding: 50px 0 92px 30px;
}

.main{
    width: 50vw;
    color: var(--text-color);
    padding-left: 36px;
}

h3{
    color: var(--title-color);
    line-height: 2rem;
}

.main p{
    line-height: 2rem;
}

.main p:nth-of-type(1){
    font-weight: 700;
}

.form{
    display: flex;;
    margin-top: 2rem;
   
}

.form input{
    position: relative;
    z-index: 2;

    border-left: 4px solid var(--title-color);
    float: left;
    width: 55vw;
    height: 2.75rem;
}

.arrow{
    width: 2.75rem;
    height: 2.75rem;
    position: absolute;

    justify-content: center;
    align-items: center;

    border: none;
    cursor: c;

    background-color: var(--bg-button-color);   
}
.read p{
    display: flex;
    font-weight: 400;

    align-items: center;
    color: var(--bg-button-color);
}

.aside{
    width:50vw;
    height:100vh;
}

.aside img{

    width: 50vw;
    height: 100vh;
    
    object-fit: cover;
    object-position: 100%;
}